<div class="row">
  <div class="col-12">
    <alert></alert>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <h1>Rates</h1>
  </div>
  <div class="col-3">
    <a class="btn btn-success" [routerLink]="'/rates/create'"><i class="fa fa-plus"></i> Create</a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Price</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Vehicle Type</th>
        <th>Road Type</th>
        <th>Recurring</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of rates">
        <td>{{ u.id }}</td>
        <td>{{ (u.price | currency: 'EUR')}}</td>
        <td>{{(u.startDate | date: 'LLLL d yyy - HH:mm')}}</td>
          <td>{{(u.endDate | date: 'LLLL d yyy - HH:mm')}}</td>
        <td>{{u.vehicleType != undefined ? u.vehicleType : 'ALL'}}</td>
        <td>{{u.roadType != undefined ? u.roadType : 'ALL'}}</td>
        <td>{{u.recurring != undefined ? u.recurring : 'NONE'}}</td>
        <td>
          <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="setDeleteModal(u)"><i class="fa fa-remove"></i></button>

        </td>

        <!-- Modal Start -->
        <div *ngIf="showDeleteModal">
          <div class="modal fade" id="deleteModal" tabindex="-1" rate="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" rate="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete {{selectedToDelete.id}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete {{selectedToDelete.id}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteRate(selectedToDelete)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </tr>
      </tbody>
    </table>
  </div>
</div>