<div class="row">
  <div class="col-12">
    <alert></alert>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <h1>Invoices</h1>
  </div>
  <div class="col-3">
    <!--<a class="btn btn-success" [routerLink]="'/invoices/create'"><i class="fa fa-plus"></i> Create</a>-->
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Invoice #</th>
        <th>Tracker #</th>
        <th>Total</th>
        <th>Invoice Status</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of invoices">
        <td>{{ u.id }}</td>
        <td>{{ u.invoiceNumber}}</td>
        <td>{{ u.vehicleTrackerId}}</td>
        <td>{{ u.totalPrice}}</td>
        <td>{{u.invoiceStatus}}</td>
        <th>{{u.date}}</th>
        <td>
          <!--<a class="btn btn-info" [routerLink]="'/roles/update/' + u.id"><i class="fa fa-edit"></i></a> &nbsp;-->
          <!--<a class="btn btn-warning" [routerLink]="'/roles/' + u.id + '/permissions'"><i class="fa fa-lock"></i></a> &nbsp;-->
          <!--<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="setDeleteModal(u)"><i class="fa fa-remove"></i></button>-->

        </td>

        <!-- Modal Start -->
        <div *ngIf="showDeleteModal">
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete {{selectedToDelete.name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete {{selectedToDelete.name}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteRole(selectedToDelete)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </tr>
      </tbody>
    </table>
  </div>
</div>